.actualQuestion{
  font-size: 15px;
  font-weight: bold;
}
h1{

  text-align: center;
}
h3{
  text-align: center;
}
.answer{
  font-size: 8px;
  color: red;
}
body{
  background-image: url(pawPic.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  text-align: center;
}
